.attendance {
    top: 80px;
    margin: 170px auto 30px;
    width: 900px;
    display: flex;
    flex-direction: column;
}

.attendance-ttl {
    font-size: 30px;
    font-weight: bold;
    padding-left: 20px;
    border-left: 8px solid #000000;
    height: 40px;
    margin-bottom: 45px;
}

.attendance-month-nav {
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
}

.nav-btn {
    font-size: 16px;
    font-weight: bold;
    color: #737373;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
}

.nav-arrow-left,
.nav-arrow-right {
    width: 20px;
    opacity: 0.3;
}

.nav-arrow-right {
    transform: rotate(180deg);
}

.month-display {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: bold;
}

.month-display-img {
    width: 25px;
}


.attendance-table {
    width: 100%;
    table-layout: fixed;    /*幅固定(データはヘッダーに倣う)*/
    border-collapse: collapse;
    background-color: #ffffff;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #737373;
}

.table-row-header {
    border-bottom: 3px solid #e1e1e1;
    height: 45px;
    letter-spacing: 0.15em;
    text-align: center;
}

.table-name {
    padding-left: 55px;
    text-align: left;
    width: 195px;
}

.table-clock-in,
.table-clock-out,
.table-break,
.table-total {
    width: 135px;
}

.table-detail {
    /* padding-left: 50px; */
    /* text-align: left; */
}

.table-row {
    border-bottom: 2px solid #e1e1e1;
    height: 45px;
    text-align: center;
}

.table-row:last-child {
    border-bottom: none;
}

.table-cell-name {
    letter-spacing: 0.15em;
    padding-left: 55px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table-cell {
    letter-spacing: 0.15em;
}

.table-cell-detail {
    background: none;
    border: none;
    font-size: 16px;
    font-weight: bold;
    /* text-align: left; */
    padding: 0px;
    letter-spacing: 0.15em;
    cursor: pointer;
}