.attendance {
    top: 80px;
    margin: 170px auto 115px;
    width: 900px;
    display: flex;
    flex-direction: column;
}

.attendance-ttl {
    font-size: 30px;
    font-weight: bold;
    padding-left: 20px;
    border-left: 8px solid #000000;
    height: 40px;
    margin-bottom: 45px;
}

.attendance-month-nav {
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
}

.nav-btn {
    font-size: 16px;
    font-weight: bold;
    color: #737373;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
    letter-spacing: 0.15em;
}

.nav-arrow-left,
.nav-arrow-right {
    width: 20px;
    opacity: 0.3;
}

.nav-arrow-right {
    transform: rotate(180deg);
}

.month-display {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: bold;
}

.month-display-img {
    width: 25px;
}

.attendance-table {
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #737373;
}

.table-row-header {
    border-bottom: 3px solid #e1e1e1;
    height: 45px;
    letter-spacing: 0.15em;
}

.table-head {
    text-align: left;
    width: 135px;
}

.table-head-date {
    text-align: left;
    padding-left: 55px;
    width: 245px;
}

.table-head-detail {
    text-align: left;
}

.table-row {
    border-bottom: 2px solid #e1e1e1;
    height: 45px;
    text-align: left;
}

.table-row:last-child {
    border-bottom: none;
}

.table-cell {
    letter-spacing: 0.15em;
}

.table-cell-date {
    letter-spacing: 0.15em;
    padding-left: 55px;
}

.table-cell-detail {
    background: none;
    border: none;
    font-size: 16px;
    font-weight: bold;
    padding: 0px;
    letter-spacing: 0.15em;
    cursor: pointer;
}

.csv-export {
    margin-top: 70px;
    text-align: right;
}

.csv-btn {
    background-color: #000000;
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 0.15em;
    padding: 12px 40px;
    border-radius: 5px;
    text-decoration: none;
}