.body-color {
    /* 非ログイン */
    /* background-color: #ffffff; */
    /* ログイン時 */
    background-color: #f0eff2;
}

.header-inner {
    height: 80px;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.header-logo-inner {
    display: inline-block;
    height: 36px;
    width: 370px;
}

.header-logo_img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.header-nav {
    height: 100%;
    display: flex;
    align-items: center;
}

.header-nav-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.header-nav-ttl {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-nav-txt,
.header-nav-logout {
    display: inline-flex; /* 縦中央揃え */
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.header-nav-logout {
    margin-left: 15px;
    margin-right: 20px;
}