.bg-guest {
    background-color: #ffffff; /* 非ログイン */
}

.bg-auth {
    background-color: #f0eff2; /* ログイン時 */
}

.header-inner {
    height: 80px;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 25px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.header-logo-inner {
    display: inline-block;
    height: 36px;
    width: 370px;
}

.header-logo_img {
    width: 100%;
}

.header-nav {
    height: 100%;
    display: flex;
    align-items: center;
}

.header-nav-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav-ttl {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 135px;
    margin-right: 10px;
}

.header-nav-txt {
    display: inline-flex; /* 縦中央揃え */
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 24px;
    color: #ffffff;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}