.contents {
    top: 80px;
    width: 680px;
    margin: 80px auto 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contents-ttl {
    margin: 80px auto 45px;
    font-size: 36px;
    font-weight: bold;
}

.register {
    width: 100%;
}

.user,
.email,
.pwd,
.pwd-confirm {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.user-input,
.email-input,
.pwd-input,
.pwd-confirm-input {
    width: 100%;
    height: 45px;
}

.user-input {
    margin-bottom: 35px;
}

.email-input {
    margin-bottom: 50px;
}

.pwd-input {
    margin-bottom: 45px;
}

.register-btn {
    width: 100%;
    height: 60px;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: #ffffff;
    font-size: 26px;
    font-weight: bold;
    margin: 50px 0px 15px;
}

.login-link {
    height: 50px;
    display: block;
    align-content: center;
    font-size: 20px;
    text-decoration: none;
}

.error {
    color: #ff5555;
    display: flex;
    justify-content: left;
    font-size: 20px;
}